html {
  min-height: 100%;
}

h1 {
  font-size: 8rem;
  color: black;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;

  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

/* NAV BAR */

.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 25px;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: grey;
  color: black;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-size: 1rem;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: aboslute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 73px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}

/* BUTTONS */

.container {
  padding: 3% 15% 3%;
  text-align: center;
}

.container-fluid {
  padding: 3% 15% 3%;
  display: inline-block;
}

.button {
  background-color: white; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  width: 175px;
  height: 125px;
  border-radius: 25px;
}

.button:hover {
  background-color: lightblue;
}

.back-button {
  background-color: white; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6rem;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  height: 70px;
}

.back-button:hover {
  background-color: lightblue;
}
